* {
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter",
    "Lucida Typewriter", monospace;

  background: hsl(122, 4%, 73%);
  color: hsl(53, 93%, 95%);
}

footer {
  padding-top: 4px;
}

.imagelink {
  text-decoration: none;
}

.link {
  color: hsl(53, 93%, 95%);
}

p {
  margin-right: 55%;
  margin-left: 3%;
}

span {
  font-size: 20px;
}

@media screen and (max-device-width: 600px) and (orientation: portrait) {
  p {
    margin-right: 20%;
    margin-left: 1%;
  }
  span {
    font-size: 30px;
  }
}
