* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 3%;
  background: hsl(122, 4%, 73%);
  color: hsl(53, 93%, 95%);
}

.link {
  color: hsl(53, 93%, 95%);
  font-weight: bold;
}

.imagelink {
  text-decoration: none;
}

h1 {
  font-weight: bold;
}

p {
  margin-right: 70%;
  margin-left: 1%;
}

footer {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid lightgrey;
}

.icongithub {
  width: 48px;
  height: 48px;
  display: inline-block;

  -webkit-mask: url(https://cdn.glitch.com/cc1ffc05-f50d-474a-883e-0d4b6d21d1c7%2Fgithub.svg)
    no-repeat 50% 50%;
  -webkit-mask-size: cover;
  padding: 5px;
}

.icontwitter {
  /*1.23ratio width/height*/
  width: 58px;
  height: 47px;
  display: inline-block;

  -webkit-mask: url(https://cdn.glitch.com/cc1ffc05-f50d-474a-883e-0d4b6d21d1c7%2Ftwitter.svg?1504302111892)
    no-repeat 50% 50%;
  -webkit-mask-size: cover;
  padding: 5px;
  margin-left: 5px;
}

.iconshtekhler {  
  /*1.38 ratio width/height*/
  width: 66px;
  height: 48px;
  display: inline-block;

  -webkit-mask: url(https://cdn.glitch.com/cc1ffc05-f50d-474a-883e-0d4b6d21d1c7%2Fshtekhler.svg?1504352295474)
    no-repeat 50% 50%;
  -webkit-mask-size: cover;
  padding: 5px;
  margin-left: 5px;
}

.icongmail {
  /*1.388 ratio width/height*/
  width: 67px;
  height: 48px;
  display: inline-block;

  -webkit-mask: url(https://cdn.glitch.com/cc1ffc05-f50d-474a-883e-0d4b6d21d1c7%2Fgmail_512_black.png?1504363655728)
    no-repeat 50% 50%;
  -webkit-mask-size: cover;
  padding: 5px;
  margin-left: 5px;
}

.icon-offwhite {
  background-color: hsl(53, 93%, 95%);
}

@media screen and (max-device-width: 600px) and (orientation: portrait) {
  p {
    margin-right: 20%;
    margin-left: 1%;
  }

  .icongithub {
    width: 80px;
    height: 80px;
    display: inline-block;

    -webkit-mask: url(https://cdn.glitch.com/cc1ffc05-f50d-474a-883e-0d4b6d21d1c7%2Fgithub.svg)
      no-repeat 50% 50%;
    mask: url(https://cdn.glitch.com/cc1ffc05-f50d-474a-883e-0d4b6d21d1c7%2Fgithub.svg)
      no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
    padding: 5px;
  }

  .icontwitter {
    /*1.23 ratio width/height*/
    width: 98.46px;
    height: 80px;
    display: inline-block;

    -webkit-mask: url(https://cdn.glitch.com/cc1ffc05-f50d-474a-883e-0d4b6d21d1c7%2Ftwitter.svg?1504302111892)
      no-repeat 50% 50%;
    mask: url(https://cdn.glitch.com/cc1ffc05-f50d-474a-883e-0d4b6d21d1c7%2Ftwitter.svg?1504302111892)
      no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
    padding: 5px;
    margin-left: 5px;
  }
  .iconshtekhler {  
    /*1.38 ratio width/height*/
    width: 110px;
    height: 80px;
    display: inline-block;
  
    -webkit-mask: url(https://cdn.glitch.com/cc1ffc05-f50d-474a-883e-0d4b6d21d1c7%2Fshtekhler.svg?1504352295474)
      no-repeat 50% 50%;
    -webkit-mask-size: cover;
    padding: 5px;
    margin-left: 5px;
  }
  
  .icongmail {
    /*1.388 ratio width/height*/
    width: 111px;
    height: 80px;
    display: inline-block;
  
    -webkit-mask: url(https://cdn.glitch.com/cc1ffc05-f50d-474a-883e-0d4b6d21d1c7%2Fgmail_512_black.png?1504363655728)
      no-repeat 50% 50%;
    -webkit-mask-size: cover;
    padding: 5px;
    margin-left: 5px;
  }
}
